*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar
{
    color: #fff;
    width: 100%;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 1.3vw 20vw;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar .logo
{
    font-size: 2.3vw;

}
.nav-links
{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-links li
{
    font-size: 1.1vw;
    padding: 0 2vw;
    cursor: pointer;
    position: relative;
}
.nav-links li::after
{
    content: "";
    width: 0%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.3s width;
}
.nav-links li:hover:after
{
    width: 100%;

}
.line
{
    height: 2px;
    content: "";
    width: 50%;
    margin: 30px 0;
    background-color: #fff;
}
.container
{
    width: 100%;
    height: 100vh;
}
.container .vid
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container .vid, video
{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    padding: 0;
    margin: 0;
}
video
{
    object-fit: cover;
}
.textcon
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: #fff;
    font-size: 2.4vw;
}
.textcon button
{
    margin-top: 30px;
    font-size: 0.35em;
}
.textcon button
{
    background-color: #fff;
    border: none;
    width: 7.4vw;
    height: 2.3vw;
    cursor: pointer;
    transition: 0.6s background;
}
.textcon button:hover
{
    background-color: #000;
    color: #fff;
}
.textcon h3
{
    padding: 10px 0;
}
@media (max-width: 900px) {
    .navbar .logo
    {
        padding: 20px 0;
        font-size: 1.6em;
    }
    .nav-links li
    {
        font-size: 1.1em;
    }
    .navbar
    {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .textcon
    {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 1.2em;
    }

    .textcon button
{
    width: 20.4vw;
    height: 8.3vw;
    font-size: 0.5em;

}
.line
{
width: 80%;
}
}
